.summary{
  background-color: white;
  padding: 15px;
}

h3 {
  color: hsl(224, 30%, 27%);
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
}

@media (min-width: 900px) {
  h3 {
    margin-top: 0px;
  }

  .summary {
    margin: 15px;
    margin-left: 0px;
    padding: 25px;
    padding-left: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 15px 40px 0px rgba(0, 0, 0, 0.75);
  }
}